*,
*:before,
*:after{
	margin:0;
	padding:0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#easy{
	margin-left: 5%;
	width: 30%;
	background-color: rgba(137,176,193, 1);
	height: 100%;
	font-size: 36px;
	color: white;
	float: left;
	position: inline;
}
#med{
	width: 30%;
	background-color: rgba(98,113,146, 1);
	height: 100%;
	font-size: 36px;
	color: white;
	float: left;
	position: inline;
}

#hard{
	width: 30%;
	height: 100%;
	font-size: 36px;
	color: white;
	float: left;
	position: inline;
	background-color: rgba(73,66,97, 1);
}

.feedback {
    list-style-type: none;
	margin: 0;
	padding: 0;
	height: 45px;
	text-align: center;
	overflow: hidden;
	background-color: #f5f3f5;}
ul.answers {
	margin: 0;
	padding: 0;
	height: 300px;
	background-color: #ffffff;}
li {
	float: left;}
li.a {
	display: inline-block;
	padding: 10px 10px;}
li.b {
	display: inline-block;
	padding: 25px 0px;}
body {
	font-family: Arial, Verdana, sans-serif;
	color: #000000;
	padding: 5px 0px;
	margin: 0 auto;}
.titleBar {
	background-color: #ffffff;
	height: 43px;
	padding: 1px }
.questionBox {
	background-color: #ffffff;
	width: 680px;
	height: auto;
	padding: 25px;
	margin: 25px auto;
	}
.answerBox {
	width: 630px;
	height: 300px;
	margin: 20px 20px;}
.clearfix:after{
	display: table;
	content: " ";
	/*left right or both*/
	clear: both;
}