*,
*:before,
*:after{
	margin:0;
	padding:0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;	
}

#easy{
	margin-left: 5%;
	width: 30%;
	background-color: rgba(137,176,193, 1);
	height: 100%;
	font-size: 36px;
	color: white;
	float: left;
	position: inline;
}
#med{
	width: 30%;
	background-color: rgba(98,113,146, 1);
	height: 100%;
	font-size: 36px;
	color: white;
	float: left;
	position: inline;
}

#hard{
	width: 30%;
	height: 100%;
	font-size: 36px;
	color: white;
	float: left;
	position: inline;
	background-color: rgba(73,66,97, 1);
}

.feedback {
    list-style-type: none;
	margin: 0;
	padding: 0;
	height: 45px;
	text-align: center;
	overflow: hidden;
	background-color: #f5f3f5;}
ul.answers {
	margin: 0;
	padding: 0;
	height: auto;
	margin-bottom: 50px;
	background-color: #ffffff;}
li {
	float: left;}
li.a {
	display: inline-block;
	padding: 10px 10px;}
li.b {
	display: inline-block;
	padding: 25px 0px;}
body {
	font-family: Roboto:300, Arial, Verdana, sans-serif;
	color: #000000;
	padding: 5px 0px;
	background-color: #f3e5f5;
	margin: 0 auto;}
.titleBar {
	font-family: Roboto:300;
	background-color: #ffffff;
	height: 43px;
	padding: 1px }
.questionBox {
	background-color: #ffffff;
	width: 680px;
	height: auto;
	padding: 25px;
	margin: 25px auto;
	}
.answerBox {
	width: auto;
	height: auto;
	font-size: 1.25em;
	margin: 20px 20px;}
.endSolnWell{
	background-color: #f5f3f5;
	text-align: left;
	min-height:20px;
	padding:19px;
	margin-bottom:20px;
	border:1px solid #e3e3e3;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.05);

}
.endSolnQ{
	font-weight: bold;
}
.clearfix:after{
	display: table;
	content: " ";
	/*left right or both*/
	clear: both;
}